/* General */
body {
    padding-top: 100px;
}

.displays-1 {
    box-shadow: 0px 2px 15px 1px #ccc;
}

.display-fixed-height {
    height: 640px;
}

.displays-1 {
    margin-left: calc(50% - 180px);
    display: inline-block;
}

.display {
    width: 360px;
    float: left;
    overflow: hidden;
}

.resolution-bar {
    width: 80%;
    margin: 0 10%;
}

.resolution-bar > * {
    text-align: center;
    border-top: 1px solid var(--main-color);
}

.map-select-background {
    background-image: url('./pictures/continent-markers.png');
    background-size: cover;
    background-position: center;
}